<div class="container-fluid actu" id="ancreActu">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <h1 class="orange">Actualités</h1>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="row slide">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        {% for actu in actus %}
                            <h2 class="titreActu">{{ actu.titre }}</h2>
                            <p class="contenu">{{ actu.contenu }}</p>
                            <p class="img-responsive img-actu">{{ asset('upload/' ~ actu.image) }}<br/><a href="{{ path('afficher_actu', {'id': actu.id}) }}">En lire plus...</a></p>
                            <p class="date">{{ actu.date | date("d-m-Y") }}</p><br/>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Insérer ici un nouveau slide -->
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <p class="goToList"><a href="listeactu">Voir la liste de toutes nos actualités</a></p>
</div>
