{% block contact %}

    {{ form_start(form, {'method' : 'POST'})}}

        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 total_form">
            <h3 class="accrocheForm">Contactez-nous :</h3></br>

            <div class="form-group">
        {{ form_errors(form.nom) }}
        {#{{ form_label(form.nom) }}#}
        {{ form_widget(form.nom) }}
            </div>

            <div class="form-group">
        {{ form_errors(form.prenom) }}
        {#{{ form_label(form.prenom) }}#}
        {{ form_widget(form.prenom) }}
            </div>

            <div class="form-group">
        {{ form_errors(form.entreprise) }}
        {#{{ form_label(form.entreprise) }}#}
        {{ form_widget(form.entreprise) }}
            </div>

            <div class="form-group">
        {{ form_errors(form.email) }}
        {#{{ form_label(form.email) }}#}
        {{ form_widget(form.email) }}
            </div>

            <div class="form-group input_message">
        {{ form_errors(form.message) }}
        {#{{ form_label(form.message) }}#}
        {{ form_widget(form.message) }}
            </div>

            <p class="texte_require">* Champs obligatoires</p>

            <button type="submit" name="validation" class="btn btn-warning catForm form-submit">Envoyer</button>

        </div>
    {{ form_end(form) }}

{% endblock %}





