{% extends 'layoutActu.html.twig' %}

    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- CSS Perso -->
        <link rel="stylesheet" type="text/css" href="{{  asset('css/stylesheetOneActu.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/stylesheetHeader.css')}}">
        <link rel="stylesheet" type="text/css" href="{{  asset('css/stylesheetFooter.css')}}">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css')}}">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    {% endblock %}

    {% block listeActu %}
        <div class="sectionListeActu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="titreActu">{{ actu.titre }}</h1><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                            <p class="contenu">{{ actu.contenu | raw}}</p><br/>
                        <a class="lightbox" href="#goofy"><img src="{{ asset('upload/' ~ actu.image) }}" class="img-responsive
                            img-actu"></a><br/>
                        <div class="lightbox-target" id="goofy">
                            <img src="{{ asset('upload/' ~ actu.image) }}" class="img-responsive img-actu">
                            <a class="lightbox-close" href="#"></a>
                        </div>
                            <p class="date">Le  {{ actu.date | date("d-m-Y") }}</p><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <p class="backAccueil">
                            <a href=" {{ path('accueil') }}">Retourner sur la page d'accueil</a>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <p class="back">
                            <a href=" {{ path('liste_actu') }}">Retourner à la liste d'actualités</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}



