{% extends 'layout.html.twig' %}

    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- CSS Perso -->
        <link rel="stylesheet" type="text/css" href="{{  asset('css/stylesheetListeActu.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/stylesheetHeader.css')}}">
        <link rel="stylesheet" type="text/css" href="{{  asset('css/stylesheetFooter.css')}}">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css')}}">
    {% endblock %}


{% block body %}
    {#{% block header %}
        {{  include('MTLBundle:Default:headeractu.html.twig') }}
    {% endblock %}#}

    {% block listeActu %}
        <header>
            <a href="index" class="lien_header">
                <div class="backgroundHeader" >
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-hidden col-xs-offset-0
                                col-sm-4 col-sm-offset-0
                                col-md-3 col-md-offset-0
                                col-lg-3 col-lg-offset-1 logo_header">
                                <img class="img-responsive logoHeader" src="{{ asset ('image/logoMblanc.png')}}" alt="Logo
                        mTourimse-Ludique">
                            </div>

                            <div class="col-xs-12 col-xs-offset-1
                                col-sm-7 col-sm-offset-1
                                col-md-9 col-md-offset-0
                                col-lg-8 col-lg-offset-0 logo_text">
                                <h1 class="marque">Tourisme Ludique</h1><br/>
                                <p class="slogan">CREATION D'USAGES MOBILES LUDIQUES APPLIQUES AU TOURISME ET A LA CULTURE</p><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </header>
        <div class="sectionListeActu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="titreActu">{{ actu.titre }}</h1><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                            {# <h2 class="titreActu">Actualité n° {{ actu.id }}</h2> #}
                            <p class="contenu">{{ actu.contenu | raw}}</p><br/>
                            <img src="{{ asset('upload/' ~ actu.image) }}" class="img-responsive img-actu"><br/>
                            <p class="date">{{ actu.date | date("d-m-Y") }}</p><br/>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="back">
                            <a href=" {{ path('liste_actu') }}">Retourner à la liste d'actualités</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        {{ include('MTLBundle:Default:footer.html.twig') }}
    {% endblock %}
{% endblock %}

