{% extends 'layout.html.twig' %}

    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- CSS Perso -->
        <link rel="stylesheet" type="text/css" href="{{  asset('css/stylesheetListeActu.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/stylesheetHeader.css')}}">
        <link rel="stylesheet" type="text/css" href="{{  asset('css/stylesheetFooter.css')}}">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css')}}">
    {% endblock %}


{% block body %}
    {% block header %}
        {{  include('MTLBundle:Default:header.html.twig') }}
    {% endblock %}

    {% block listeActu %}
        <div class="sectionListeActu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="titreActualités">Actualité</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                            {# <h2 class="titreActu">Actualité n° {{ actu.id }}</h2> #}
                            <h2 class="titreActu">{{ actu.titre }}</h2>
                            <p class="contenu">{{ actu.contenu }}</p>
                            <img src="{{ asset('upload/' ~ actu.image) }}" class="img-responsive img-actu"><br/>
                            <p class="date">{{ actu.date | date("d-m-Y") }}</p><br/>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="back">
                            <a href=" {{ path('liste_actu') }}">Retour au site</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        {{ include('MTLBundle:Default:footer.html.twig') }}
    {% endblock %}
{% endblock %}

