<div class="container-fluid " id="ancreProduit">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="titreGeo">GéoMOTifs</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs titreNosProduits">
            <h1>Produits</h1>
        </div>
        <div class="col-lg-5 col-md-4">
            <video class="vid" playsinline autoplay muted loop>
                <source src="{{ asset('videos/orleanshg.mp4') }}" type="video/mp4">
            </video>
        </div>
        <div class="col-lg-6 col-md-5">
            <h2 class="titreProduit">Développez un nouveau thème de visite</h2><br/>
            <p class="txtGeo">
                Territoire, Ville, monument, lieu de visite...<br/>
                <span class="geomotifs">GéoMOTifs</span> a vocation à développer un nouvel axe des valorisations du
                <strong>patrimoine</strong> par les détails (ornementation, architecture...).
                Ils sont omniprésents, on ne les voit pas, mais sans eux notre <strong>patrimoine</strong> aurait moins
                de saveurs.
                <br/>
                Vous disposez d'un <strong>patrimoine</strong> éligible et souhaitez renouveler l'intérêt pour votre
                destination ? Attirer de nouveaux publics ?
                Développer la notoriété grâce à une matière visuelle par essence ?<br/>
                Adhérez à <span class="geomotifs">GéoMOTifs !</span> l'offre ludique de visite in-situ entièrement
                dédiée à la valorisation des détails !
            </p>
        </div>
    </div>
    <hr class="separe">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="titreDownload">Téléchargez notre application pour Android ou iOS</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a href="https://play.google.com/store/apps/details?id=com.mazedia.wezit.geomotifs" target="_blank">
                <img src="{{ asset('image/logoGooglePlay.png') }}" class="img-responsive android" alt="Telecharger dans Google Play">
            </a>
        </div>
        <div class="col-lg-6">
            <a href="https://itunes.apple.com/fr/app/geomotifs/id935219020" target="_blank">
                <img src="{{ asset('image/logoAppStore.png') }}" class="img-responsive itunes" alt="Telecharger dans l'appstore">
            </a>
        </div>
    </div>
        <div class="row citation">
            <div class="col-lg-12">
                <p class="citationLeft">"GéoMOTifs, une chasse aux décors ludique touristique et culturelle 100% originale"</p>
                <p class="citationRight">"Le Géocaching des mots et des formes"</p>
            </div>
        </div>
    <hr class="separe">
    <div class="row">
        <div class="col-lg-12">
            <p class="txtFB">Retrouvez-nous sur notre site</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 linkGeo">
            <a href="http://www.geomotifs.fr/"><img  class="img-responsive" img align="center" src="{{ asset('image/logo-geomotifs.png') }}" alt="site de Géomotifs"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="txtFB">Et également sur Facebook</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 FacebookGeo">
            <div class="fb-page" data-href="https://www.facebook.com/geomotifs" data-tabs="timeline,events,messages"
                 data-width="500" data-height="6    00" data-small-header="false" data-adapt-container-width="true"
                 data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/geomotifs" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/geomotifs">Géomotifs</a></blockquote></div>
        </div>
    </div>
    <hr class="separe">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <p class="remerciement">Inspiré de:</p>
                </div>
            </div>    
            <div class="row">
                <div class="col-lg-12">
                    <a href="http://www.eyrolles.com/Loisirs/Livre/vocabulaire-illustre-de-l-ornement-9782212128598">
                        <img src="{{ asset('image/produit-vocabulaire.jpg') }}" alt="livre vocabulaire illustré de l'Ornement"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <p class="remerciement">Réalisé par:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a href="http://www.museographie.mazedia.fr/">
                        <img src="{{ asset('image/produit-mazedia-V2.png') }}" alt="Agence Mazedia"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <p class="remerciement">Avec le soutien de:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a href="http://www.regioncentre-valdeloire.fr/accueil.html">
                        <img src="{{ asset('image/Region-Centre-Val-de-Loire-2015.png') }}" alt="Région centre Val de Loire"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-offset-1"></div>
    </div>
</div>