<div class="container-fluid " id="ancreProduit" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-12">
            <h2>GéoMOTifs</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!-- Section vidéo et description -->
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="center-block embed-responsive embed-responsive-4by3">
                    <video class="embed-responsive-item center-block" playsinline autoplay muted loop>
                        <source src="{{ asset('videos/orleanshg.mp4') }}" type="video/mp4">
                    </video>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="linkYT" target="_blank" href="https://www.youtube.com/watch?v=Svd4SGOJTfI">Voir la vidéo sur youtube</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <h3 class="titreProduit">Développez un nouveau thème de visite</h3><br/>
            <p class="txtGeo">
                Territoire, ville, monument, lieu de visite...
            </p>
            <p class="txtGeo">
                <span class="geomotifs">GéoMOTifs</span> a vocation à développer un nouvel axe de valorisation du
                patrimoine par les <strong class="motAccroche">détails</strong>
                (<strong class="motAccroche">ornementation, architecture</strong>...).
                Ils sont omniprésents, on n'y prête pas attention, mais sans eux notre patrimoine aurait moins de saveurs.
            </p>
            <p class="txtGeo">
                Vous disposez d'un <strong class="motAccroche">patrimoine</strong> éligible et souhaitez renouveler l'intérêt pour votre
                destination ? Attirer de nouveaux publics ?
                Développer notre notoriété grâce à une matière visuelle par essence ?
            </p>
            <p class="txtGeo">
                Adhérez à <span class="geomotifs">GéoMOTifs !</span> l'offre <strong class="motAccroche">ludique</strong>
                de visite in-situ entièrement dédiée à la <strong class="motAccroche">valorisation des détails</strong> !
            </p>
        </div>
    </div>
    <hr class="separe">
</div>

<!-- Section Download -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="titreDownload">Téléchargez notre application pour Android ou iOS</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a href="https://play.google.com/store/apps/details?id=com.mazedia.wezit.geomotifs" target="_blank">
                <img src="{{ asset('image/logoGooglePlay.png') }}" class="img-responsive android center-block" alt="Telecharger dans Google Play">
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a href="https://itunes.apple.com/fr/app/geomotifs/id935219020" target="_blank">
                <img src="{{ asset('image/logoAppStore.png') }}" class="img-responsive itunes center-block" alt="Telecharger dans l'appstore">
            </a>
        </div>
    </div>
    <div class="row citation">
        <div class="col-lg-12">
            <p class="citationLeft"><cite><q>GéoMOTifs, une chasse aux décors ludique <strong
                        class="motAccroche">touristique</strong> et <strong class="motAccroche">culturelle</strong>
                    100% originale</q></cite></p>
        </div>
    </div>
    <br/>
    <div class="row citation">
        <div class="col-lg-12">
            <p class="citationRight"><cite><q>Le <strong class="motAccroche">Géocaching</strong> des mots et des
                    formes</q></cite></p>
        </div>
    </div>
    <hr class="separe">
</div>

<!-- Section FB et lien Géomotifs -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6 center-block">
            <br/><br/><br/><br/><br/><br/><br/>
            <div class="espace"></div>
            <p class="txtFB">Retrouvez-nous sur notre site</p>
            <a href="http://www.geomotifs.fr/" target="_blank"><img  class="center-block"
                                                                     src="{{ asset('image/logo-geomotifs.png') }}" alt="site de Géomotifs"></a>
            <a href="https://www.facebook.com/geomotifs" target="_blank"><p class="txtFB">Et devenez accros aux
                    détails<br/> en contribuant sur notre page <span class="facebook">Facebook</span></p></a>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
            <div class="fb-page" data-href="https://www.facebook.com/geomotifs" data-tabs="timeline,events,messages"
                 data-width="400" data-height="500" data-small-header="true" data-adapt-container-width="true"
                 data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook
                 .com/geomotifs" class="fb-xfbml-parse-ignore "><a href="https://www.facebook.com/geomotifs">Géomotifs</a></blockquote>
            </div>
        </div>
    </div>
    <hr class="separe">
</div>

<!-- Section remerciement -->
<div class="container-fluid">
    <div class="row">
        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="row">
                <div class="col-xs-12 center-block">
                    <p class="remerciement">Inspiré de:</p>
                </div>
            </div>    
            <div class="row">
                <div class="col-xs-12 center-block">
                    <a href="http://www.eyrolles.com/Loisirs/Livre/vocabulaire-illustre-de-l-ornement-par-le-decor-de-l-architecture-et-des-autres-arts-9782212142228" target="_blank">
                        <img src="{{ asset('image/produit-vocabulaire.jpg') }}" class="img-responsive sponsors"
                             alt="livre vocabulaire illustré de l'Ornement"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="row">
                <div class="col-xs-12 center-block">
                    <p class="remerciement">Une application réalisée par:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 center-block">
                    <a href="https://www.mazedia.fr/" target="_blank">
                        <img src="{{ asset('image/produit-mazedia-V2.png') }}" class="img-responsive sponsors" alt="Agence
                        Mazedia"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="row">
                <div class="col-xs-12 center-block">
                    <p class="remerciement">Avec le soutien de:</p>
                </div>
            </div>
            <div class="row center-block">
                <div class="col-xs-12 center-block">
                    <a href="http://www.regioncentre-valdeloire.fr/accueil.html" target="_blank">
                        <img src="{{ asset('image/Region-Centre-Val-de-Loire-2015.png') }}" class="img-responsive sponsors"
                             alt="Région centre Val de Loire"></a>
                </div>
            </div>
        </div>
    </div>
</div>