<div class="container-fluid " id="ancreProduit" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="titreGeo">GéoMOTifs</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 videocontainer">
                <video playsinline autoplay muted loop>
                <source src="{{ asset('videos/orleanshg.mp4') }}" type="video/mp4">
                </video>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2 class="titreProduit">Développez un nouveau thème de visite</h2><br/>
            <p class="txtGeo">
                Territoire, Ville, monument, lieu de visite...
            </p>
            <p class="txtGeo">
                <span class="geomotifs">GéoMOTifs</span> a vocation à développer un nouvel axe de valorisation du
                <strong class="motAccroche">patrimoine</strong> par les <strong class="motAccroche">détails</strong>
                (<strong class="motAccroche">ornementation, architecture</strong>...).
                Ils sont omniprésents, on ne les voit pas, mais sans eux notre <strong class="motAccroche">patrimoine</strong>
                aurait moins de saveurs.
            </p>
            <p class="txtGeo">
                Vous disposez d'un <strong class="motAccroche">patrimoine</strong> éligible et souhaitez renouveler l'intérêt pour votre
                destination ? Attirer de nouveaux publics ?
                Développer la notoriété grâce à une matière visuelle par essence ?
            </p>
            <p class="txtGeo">
                Adhérez à <span class="geomotifs">GéoMOTifs !</span> l'offre <strong class="motAccroche">ludique</strong>
                de visite in-situ entièrement dédiée à la <strong class="motAccroche">valorisation des détails</strong> !
            </p>
        </div>
    </div>
</div>
    <hr class="separe">
<!--
<div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12 ">
        <a class="linkYT" target="_blank" href="https://www.youtube.com/channel/UCj_DmGMNzw3DTMUMyYoyoyQ">Voir la vidéo sur youtube</a>
    </div>
</div>
-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="titreDownload">Téléchargez notre application pour Android ou iOS</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a href="https://play.google.com/store/apps/details?id=com.mazedia.wezit.geomotifs" target="_blank">
                <img src="{{ asset('image/logoGooglePlay.png') }}" class="img-responsive android center-block" alt="Telecharger dans Google Play">
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a href="https://itunes.apple.com/fr/app/geomotifs/id935219020" target="_blank">
                <img src="{{ asset('image/logoAppStore.png') }}" class="img-responsive itunes center-block" alt="Telecharger dans l'appstore">
            </a>
        </div>
    </div>
        <div class="row citation">
            <div class="col-lg-12">
                <p class="citationLeft">"GéoMOTifs, une chasse aux décors ludique touristique et culturelle 100% originale"</p>
            </div>
        </div>
        <div class="row citation">
            <div class="col-lg-12">
                <p class="citationRight">"Le Géocaching des mots et des formes"</p>
            </div>
        </div>
    <hr class="separe">
    <div class="row">
        <div class="col-lg-12">
            <p class="txtFB">Retrouvez-nous sur notre site</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 linkGeomotifs">
            <a href="http://www.geomotifs.fr/" target="_blank"><img  class="img-responsive center-block" src="{{ asset
                ('image/logo-geomotifs.png') }}" alt="site de Géomotifs"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="https://www.facebook.com/geomotifs" target="_blank"><p class="txtFB">Et devenez accros aux motifs en contribuant sur notre page Facebook</p></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs FacebookGeo">
            <div class="fb-page" data-href="https://www.facebook.com/geomotifs" data-tabs="timeline,events,messages"
                 data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="false"
                 data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook
                 .com/geomotifs" class="fb-xfbml-parse-ignore "><a href="https://www.facebook.com/geomotifs">Géomotifs</a></blockquote>
            </div>
        </div>
    </div>
    <hr class="separe">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="row">
                <div class="col-lg-12">
                    <p class="remerciement">Inspiré de:</p>
                </div>
            </div>    
            <div class="row">
                <div class="col-lg-12">
                    <a href="http://www.eyrolles.com/Loisirs/Livre/vocabulaire-illustre-de-l-ornement-9782212128598">
                        <img src="{{ asset('image/produit-vocabulaire.jpg') }}" class="img-responsive" alt="livre vocabulaire illustré de l'Ornement"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="row">
                <div class="col-lg-12">
                    <p class="remerciement">Une application réalisée par:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a href="http://www.museographie.mazedia.fr/">
                        <img src="{{ asset('image/produit-mazedia-V2.png') }}" class="img-responsive" alt="Agence Mazedia"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="row">
                <div class="col-lg-12">
                    <p class="remerciement">Avec le soutien de:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a href="http://www.regioncentre-valdeloire.fr/accueil.html">
                        <img src="{{ asset('image/Region-Centre-Val-de-Loire-2015.png') }}" class="img-responsive" alt="Région centre Val de Loire"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1"></div>
    </div>
</div>