<div class="container-fluid " id="ancreProduit">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="titreGeo">GéoMOTifs</h1>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs titreNosProduits">
        <h1>Produits</h1>
    </div>
    <div class="col-lg-5 col-md-4">
        <video class="vid" playsinline autoplay muted loop>
            <source src="{{ asset('videos/orleanshg.mp4') }}" type="video/mp4">
        </video>
    </div>
    <div class="col-lg-6 col-md-5">
        <p class="txtGeo">
            Quae et ut iusto qui. Unde et quia reiciendis iste dolore est enim odio. Ullam nihil molestiae mollitia
            architecto ea. Accusantium est quis est nesciunt eaque. Culpa aut ratione sit.<br/>
            Officia expedita eligendi doloribus quia officiis. Illo voluptatem optio quidem eligendi.
            Quis aut quod consequatur autem beatae illo. Iste saepe tempora voluptas minus. Debitis perferendis error
            ullam adipisci ea distinctio sit.
        </p>
        <div class="row">
            <div class="col-lg-6 col-md-6 itunes">
                <a href="https://itunes.apple.com/fr/app/geomotifs/id935219020" target="_blank">
                    <img src="{{ asset('image/logoAppStore.png') }}" class="img-responsive itunes" alt="Telecharger dans l'appstore">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 android">
                <a href="https://play.google.com/store/apps/details?id=com.mazedia.wezit.geomotifs" target="_blank">
                    <img src="{{ asset('image/logoGooglePlay.png') }}" class="img-responsive android" alt="Telecharger dans Google Play">
                </a>
            </div>
        </div>
    </div>

</div>

<!-- bannière de motifs -->

<!-- <div class="container-fluid banner_motifs">
    <div class="row">
        <ul>
            <li>
                <img class="img-responsive col-xs-hidden col-sm-hidden col-md-hidden col-lg-1" src="{{ asset('image/motifs/P1030882-2.JPG') }}" alt="">
            </li>

            <li>
                <article class="col-xs-hidden col-sm-hidden col-md-hidden col-lg-1 colors"></article>
            </li>

            <li>
                <img class="img-responsive col-xs-hidden col-sm-6 col-md-hidden col-lg-1" src="{{ asset('image/motifs/P1030882-2.JPG') }}" alt="">
            </li>

            <li>
                <article class="col-xs-hidden col-sm-hidden col-md-hidden col-lg-1 colors1"></article>
            </li>

            <li>
                <img class="img-responsive col-xs-hidden col-sm-hidden col-md-hidden col-lg-1" src="{{ asset('image/motifs/P1030882-2.JPG') }}" alt="">
            </li>

            <li>
                <article class="col-xs-hidden col-sm-hidden col-md-hidden col-lg-1 colors2"></article>
            </li>

            <li>
                <img class="img-responsive col-xs-hidden col-sm-hidden col-md-hidden col-lg-1" src="{{ asset('image/motifs/P1030882-2.JPG') }}" alt="">
            </li>

            <li>
                <article class="col-xs-hidden col-sm-hidden col-md-hidden col-lg-1 colors"></article>
            </li>

            <li>
                <img class="img-responsive col-xs-hidden col-sm-hidden col-md-hidden col-lg-1" src="{{ asset('image/motifs/P1030882-2.JPG') }}" alt="">
            </li>

            <li>
                <article class="col-xs-hidden col-sm-hidden col-md-hidden col-lg-1 colors1"></article>
            </li>

            <li>
                <img class="img-responsive col-xs-hidden col-sm-hidden col-md-hidden col-lg-1" src="{{ asset('image/motifs/P1030882-2.JPG') }}" alt="">
            </li>

            <li>
                <article class="col-xs-hidden col-sm-hidden col-md-hidden col-lg-1 colors2"></article>
            </li>
        </ul>
    </div>

</div> -->

</div>
</div>


