{% extends 'layoutEmail.html.twig' %}
{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- CSS Perso -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styleEmail.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/headerAdminStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  asset('css/stylesheetFooter.css')}}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css')}}">
{% endblock %}


<!-- Contenu de l'email -->
{% block body %}

    {% block content %}
        <h2 class="title_mail">Bonjour Sylvain,</h2>

        <p>Vous avez reçu un message de
                    {{ prenom }}
                {% filter upper %}
                    {{ nom }}
                {% endfilter %}
                <em>{{ entreprise }}</em>.<br>
            Voici le contenu de son message :<br>
            <blockquote>" {{ message }} "</blockquote>
            Son adresse mail est la suivante : {{ email }}
        </p>
    {% endblock %}

{% endblock %}
