{% extends 'layoutEmail.html.twig' %}
{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- CSS Perso -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styleEdit.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/headerAdminStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  asset('css/stylesheetFooter.css')}}">
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
    <script src="lang/summernote-fr-FR.js"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css')}}">
{% endblock %}
{% block body %}
    {% block header %}
        {{  include('headerAdmin.html.twig') }}
    {% endblock %}
            <div class="container form">
                <div class="row">
                    <h1>Editer une Actualité</h1>

                        {{ form_start(edit_form) }}
                            {{ form_row(edit_form.titre, { 'attr': {'class': 'form-control input-lg'}}) }}<br/>
                            {{ form_row(edit_form.contenu, { 'attr': {'class': 'summernote'}}) }}<br/>
                            {{ form_row(edit_form.date, {value : "now"|date("d/m/Y")}, { 'attr': {'class': ' btn
                            btn-warning '}}) }}<br/>
                            {{ form_row(edit_form.image, { 'attr': {'class': ' btn btn-warning image'}})
                            }}<br/>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="submit"   class="btn btn-success btn-lg
                            block-center" value="Edit" />
                        </div>
                    </div>
                        {{ form_end(edit_form) }}
                    </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4">
                            <a  class="btn btn-primary btn-lg" href="{{ path('actu_index') }}">Revenir à la liste</a>
                        </div>
                        <div class="col-xs-4">
                            {{ form_start(delete_form) }}
                                <input type="submit" class="btn btn-danger btn-lg" value="Delete">
                            {{ form_end(delete_form) }}
                        </div>


                    </div>
                </div>
                <br/>
            </div>

        <script>

        $(document).ready(function() {
        $('.summernote').summernote({
            height: 300,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
        });


        });

        </script>

    {% block footer %}
        {{ include('footerAdmin.html.twig') }}
    {% endblock %}
{% endblock %}
