{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styleIndex.css')}}">
{% endblock %}
{% block body %}
    <h1>Liste des Actu</h1>

    <table>
        <thead>
            <tr>
                <th>Actu N°</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actu in actus %}
            <tr>
                <td><a href="{{ path('actu_show', { 'id': actu.id }) }}">{{ actu.id }}</a></td>
                <td>{{ actu.titre }}</td>
                <td>{{ actu.contenu }}</td>
                <td>{% if actu.date %}{{ actu.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ actu.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('actu_show', { 'id': actu.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('actu_edit', { 'id': actu.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actu_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
