{% extends 'layoutAdmin.html.twig' %}
{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- CSS Perso -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styleIndex.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/headerAdminStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  asset('css/stylesheetFooter.css')}}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css')}}">
{% endblock %}
{% block body %}
    {% block header %}
        {{  include('headerAdmin.html.twig') }}
    {% endblock %}
{% block content %}
    <h1>Liste des Actu</h1>

    <table>
        <thead>
            <tr>
                <th>Actu N°</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actu in actus %}
            <tr>
                <td><a href="{{ path('actu_show', { 'id': actu.id }) }}">{{ actu.id }}</a></td>
                <td>{{ actu.titre }}</td>
                <td class="contenu">{{ actu.contenu[:250]}}</td>
                <td>{% if actu.date %}{{ actu.date|date('Y-m-d') }}{% endif %}</td>
                <td><img class="img" src="{{ asset('upload/' ~ actu.image) }}"</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('actu_show', { 'id': actu.id }) }}"><input type="button" value="Show"></a>
                        </li>
                        <li>
                            <a href="{{ path('actu_edit', { 'id': actu.id }) }}"><input type="button" value="Edit"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actu_new') }}"><input type="button" value="Create a new entry"></a>
        </li>
    </ul>
{% endblock %}
    {% block footer %}
        {{ include('footerAdmin.html.twig') }}
    {% endblock %}
{% endblock %}