{% extends 'layoutAdmin.html.twig' %}
{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- CSS Perso -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styleIndex.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/headerAdminStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  asset('css/stylesheetFooter.css')}}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css')}}">
{% endblock %}
{% block body %}

    {% block header %}
        {{  include('headerAdmin.html.twig') }}
    {% endblock %}
{% block content %}

    <h1>Liste des Actualités</h1>


    <table>
        <thead>
            <tr>
                <th>Actu N°</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Image Lentille</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actu in actus %}
            <tr>
                <td><a href="{{ path('actu_show', { 'id': actu.id }) }}">{{ actu.id }}</a></td>
                <td>{{ actu.titre }}</td>
                <td class="contenu">{{ actu.contenu| truncate(250, true, ' ...')| raw}}</td>
                <td>{% if actu.date %}{{ actu.date|date('d-m-Y') }}{% endif %}</td>
                <td><img class="img" src="{{ asset('upload/' ~ actu.image) }}"</td>
                <td>
                    <ul>
                        <li>

                            <a class="btn btn-primary btn-lg" href="{{ path('actu_show', { 'id': actu.id }) }}">Aperçu</a>
                        </li>
                        <br/>
                        <li>
                            <a class="btn btn-success btn-lg" href="{{ path('actu_edit', { 'id': actu.id })
                            }}">Editer</a>

                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <div class="container">
        <div class="row bouton">
            <div class="col-xs-12">
                <a href="{{ path('actu_new') }}"><input type="button" class="btn btn-primary btn-lg"
                                                        value="Ajouter une actualité"></a>
            </div>
        </div>
    </div>
    <br/>

{% endblock %}
    {% block footer %}
        {{ include('footerAdmin.html.twig') }}
    {% endblock %}
{% endblock %}