{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styleNew.css')}}">
{% endblock %}
{% block body %}
    <h1>Création d'une actualité</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('actu_index') }}">Revenir à la liste</a>
        </li>
    </ul>
{% endblock %}
