{% extends 'layoutAdmin.html.twig' %}
{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- CSS Perso -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styleNew.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/headerAdminStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  asset('css/stylesheetFooter.css')}}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css')}}">

{% endblock %}
{% block body %}
    {% block header %}
        {{  include('headerAdmin.html.twig') }}
    {% endblock %}
    <div class="container new">
        <div class="row">

                <h1>Création d'une actualité</h1>

                {{ form_start(form) }}

                    {{ form_row(form.titre, { 'attr': {'class': 'form-control input-lg'}}) }}<br/>
                    {{ form_row(form.contenu, { 'attr': {'class': 'form-control', 'rows': '15'}}) }}<br/>
                    {{ form_row(form.date) }}<br/>
                    {{ form_row(form.image) }}<br/>
        </div>

            <br/>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6">
                            <a  class="btn btn-primary btn-lg" href="{{ path('actu_index') }}">Revenir à la liste</a>
                        </div>
                        <div class="col-xs-6">
                            {{ form_start(form) }}
                            <input type="submit" class="btn btn-success btn-lg" value="Créer" />
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            <br/>

        </div>
    </div>
    {% block footer %}
        {{ include('footerAdmin.html.twig') }}
    {% endblock %}
{% endblock %}
