{% extends 'layoutAdmin.html.twig' %}
{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- CSS Perso -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styleShow.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/headerAdminStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{  asset('css/stylesheetFooter.css')}}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css')}}">

{% endblock %}

{% block body %}

    {% block header %}
        {{  include('headerAdmin.html.twig') }}
    {% endblock %}
    {% block content %}

    <h1>Actualité</h1>

        <table>
            <tbody>
                <tr>
                    <th>Actu N°</th>
                    <td class="id">{{ actu.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td class="titre">{{ actu.titre }}</td>
                </tr>
                <tr>
                    <th>Contenu</th>
                    <td class="contenu">{{ actu.contenu|raw }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td class="date">{% if actu.date %}{{ actu.date|date('d-m-Y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td><img src="{{ asset('upload/' ~ actu.image) }}" class="image" alt="Image illustration de
                    l'actualité"/></td>
                </tr>
            </tbody>
        </table>

        <div class="container-fluid">
            <div class="row bouton">
                <div class="col-xs-4">
                    <a  class="btn btn-primary btn-lg" href="{{ path('actu_index') }}">Revenir à la liste</a>
                </div>
                <div class="col-xs-4">
                        <a href="{{ path('actu_edit', { 'id': actu.id }) }}"><input type="submit" class="btn
                        btn-success btn-lg"
                                                                                    value="Editer"></a>
                </div>
                <div class="col-xs-4">
                    {{ form_start(delete_form) }}
                            <input type="submit" class="btn btn-danger btn-lg" value="Suprimer">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
        <br/>
    {% endblock %}
    {% block footer %}
        {{ include('footerAdmin.html.twig') }}
    {% endblock %}
{% endblock %}

