{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styleShow.css')}}">
{% endblock %}
{% block body %}
    <h1>Actualité</h1>

    <table>
        <tbody>
            <tr>
                <th>Actu N°</th>
                <td>{{ actu.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ actu.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ actu.contenu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if actu.date %}{{ actu.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('upload/' ~ actu.image) }}" alt=""/></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actu_index') }}">Revenir à la liste</a>
        </li>
        <li>
            <a href="{{ path('actu_edit', { 'id': actu.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
