<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>m-Tourisme Ludique</title>
    </head>

    {% block stylesheet %}

        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- CSS Perso -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/mTourisme.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/stylesheetLogin.css')}}">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css')}}">


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('js/bootstrap.min.js')}}"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcgdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- jQuery -->
        <script src="{{ asset('jquery.js')}}"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.js"></script>

    {% endblock %}


    {% block body %}
    <body>

        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <button type="button" class="btn btn-default btn_login" aria-label="login">
                    <a href="{{ path('fos_user_security_logout') }}" class="link_login">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </button>
            {% else %}
                <button type="button" class="btn btn-default btn_login" aria-label="login">
                    <a href="{{ path('fos_user_security_login') }}" class="link_login">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </button>
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

            {% block fos_user_content %}
                 {#{% trans_default_domain 'FOSUserBundle' %}#}

                {#{% if error %}#}
                    {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
                {#{% endif %}#}

                {#<form action="{{ path("fos_user_security_check") }}" method="post">#}
                    {#{% if csrf_token %}#}
                        {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}
                    {#{% endif %}#}

                    {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
                    {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />#}

                    {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
                    {#<input type="password" id="password" name="_password" required="required" />#}

                    {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                    {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

                    {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
                {#</form>#}


            {% endblock fos_user_content %}

    </body>
    {% endblock %}
</html>
